@model List<Movie>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a asp-action="Registration" asp-controller="Home">Registration</a>

<a asp-action="MoviesList" asp-controller="Home">View Movies List</a>

<ul>
    @foreach (Movie m in Model)
    {
        <li>@m.Title</li>
      }
    </ul>