@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Movie Registration Form</h2>

<form action="Result" method="get">
    <p>Title</p>
    <input type="text" name="Title" />
    <p>Genre</p>
    <input type="text" name="Genre" />
    <p>Year</p>
    <input type="number" name="Year" />
    <p>Runtime</p>
    <input type="number" name="Runtime" />


    <input type="submit" />



</form>